# Core scientific libraries
numpy
pandas
scikit-learn
scipy
matplotlib
seaborn
plotly

# NLP
nltk
transformers
cso-classifier # https://github.com/angelosalatino/cso-classifier

# Graph and visualisation
networkx
rdflib
pyvis

# LangChain and LLM interfaces
langchain
langchain-anthropic
langchain-mistralai
langchain-community